@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
.container{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    .tab{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        width: 100%;
        background-color: green ;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .button{
            appearance: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: black;
            .icon{
                font-size: 20px;
                height: 1em;
                width: 1em;
                margin-bottom: 10px;
            }
            .text{
                font-family: 'Roboto', sans-serif;
                margin-left: 5px;
            }
        }
    }
    .active{
        color: white !important;
        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}